.save_task {
    width: 60%;
    margin-left: 20%;
    height: 50px;
    background: #242b2e;
    color: #fff;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    margin-top: 20px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}